*/.gradle
*.idea
*/gradle
orders-api/build/*
orders-api/out/*
orders-api/elastic-apm-agent-*

terraform/k8s/.terraform/*
terraform/k8s/.terraform.lock.hcl

.terraform/
terraform.tfstate
terraform.tfstate.backup
